
body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .header-top ul {
    list-style: none;
  }
  .header-top ul li {
    display: inline-block;
    padding-left: 45px;
  }
.header-top {
    display: inline-block;
    margin-left: 58%;
    margin-top: 20px;
  }
  .header-top ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
  }
  .header-top ul li a:hover{
    color: rgb(9, 52, 243);
    background-color: aquamarine;
    padding: 10px;
    border-radius: 5px;
  }

  .welcome-note {
    display: flex;
    margin-top: 50px;
  }
  .welcome-1 {
    width: 50%;
    height: 550px;
    float: left;
    padding: 2%;
  }
.welcome-1 img {
    width: 100%;
    height: 100%;
  }
.welcome-1 p {
  text-align: justify;
  padding: 10px;
}
  .about{
      display: flex;
      margin-top: 50px;
  }
.welcome-1 h1 {
    font-size: 50px;
    color: rgb(231, 142, 24);
    text-transform: uppercase;
  }
  .link-button {
    text-decoration: none;
    background-color: rgb(238, 85, 14);
    padding: 11px 35px;
    border-radius: 6px;
    font-size: 14px;
    color: white;
  }
  #cl-1{
      color: rgb(10, 7, 1);
  }

  #pro-sec {
    background-color: #8080801f;
    height: 720px;
  }
  .profile {
    padding: 20px;
  }
#text-color {
  color: orange;
}
  .project-profile {
    margin-top: 140px;
    margin-left: 33px;
}
  .profile h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
}

.profile-1 {
    width: 20.8%;
    margin-top: 30px;
    margin-left: 110px;
    display: inline-block;
    border-style: solid;
    border-width: 14px;
    border-color: white;
    border-radius: 20px;
    background-color: white;
    text-align: justify;
}
  .profile-1 img {
    width: 320px;
    height: 210px;
} 
.profile-1 p {
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
}
.profile-1 #text-design {
  font-size: 15px;
  font-weight: normal;
  color: #866060;
}

.inq-sec {
  margin-top: 150px;
  background-image: url(img/6.png);
  background-color: #cccccc;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 800px;
  margin-left: 26%;
  margin-bottom: 150px;
  border-radius: 17px;
}
.inq-design h1 {
  display: inline-block;
  margin-left: 60px;
  margin-top: 75px;
  font-size: 41px;
  color: white;
  text-transform: uppercase;
}
.inq-design a {
  margin-left: 132px;
  color: white;
  text-decoration: none;
  background-color: orange;
  padding: 14px 33px;
  border-radius: 8px;
  font-size: 18px;
}

.container {
  width: 63%;
  border-radius: 5px;
  background-color: #c8bf3ac2;
  padding: 31px;
  margin-left: 261px;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
textarea{
  height: 200px;
}
h3 {
  font-size: 35px;
  margin-left: 40%;
  text-transform: uppercase;
}
input {
  background-color: #ace0ae;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input:hover {
  background-color: #a8e4df;
  font-weight: bold;
}

.footer {
  margin-top: 110px;
  text-align: center;
}
.footer h2 {
  color: rgb(55, 241, 133);
  font-size: 28px;
}
.footer h1 {
  font-size: 18px;
  font-weight: normal;
  color: grey;
}